# <center>Подготовка данных (индекс S&P100)
Подготовим данные для задачи.   
Данные будут представлять из себя многомерный временной ряд из курсов акций, входящих в индекс (101 акция) плюс сам индекс. Итого **102-мерный** вектор. Здесь и далее работать будем с индексом **S&P100** (тикер **OEX**). Для прогнозирования везде будем брать цену закрытия (**"Close"**)

In [1]:
import os
os.chdir("..")

%load_ext autoreload
%autoreload 2

from dotenv import load_dotenv
load_dotenv()

True

In [2]:
import pandas as pd
import json

In [3]:
path_to_prices_raw = 'prices_sp100_15min_raw'
path_to_prices = 'prices_sp100_15min'
path_to_data = 'data'

список акций индекса (версия _**corr**_)

In [4]:
with open("sp100_tickers_corr.json", "r") as f:
    sp100_tickers = json.load(f)
print(sp100_tickers)
len(sp100_tickers)

['AAPL', 'ABBV', 'ABT', 'ACN', 'ADBE', 'AIG', 'ALL', 'AMGN', 'AMT', 'AMZN', 'AXP', 'BA', 'BAC', 'BIIB', 'BK', 'BKNG', 'BLK', 'BMY', 'BRK-B', 'C', 'CAT', 'CHTR', 'CL', 'CMCSA', 'COF', 'COP', 'COST', 'CRM', 'CSCO', 'CVS', 'CVX', 'DD', 'DHR', 'DIS', 'DOW', 'DUK', 'EMR', 'EXC', 'F', 'FB', 'FDX', 'GD', 'GE', 'GILD', 'GM', 'GOOG', 'GOOGL', 'GS', 'HD', 'HON', 'IBM', 'INTC', 'JNJ', 'JPM', 'KHC', 'KMI', 'KO', 'LLY', 'LMT', 'LOW', 'MA', 'MCD', 'MDLZ', 'MDT', 'MET', 'MMM', 'MO', 'MRK', 'MS', 'MSFT', 'NEE', 'NFLX', 'NKE', 'NVDA', 'ORCL', 'OXY', 'PEP', 'PFE', 'PG', 'PM', 'PYPL', 'QCOM', 'RTX', 'SBUX', 'SLB', 'SO', 'SPG', 'T', 'TGT', 'TMO', 'TXN', 'UNH', 'UNP', 'UPS', 'USB', 'V', 'VZ', 'WBA', 'WFC', 'WMT', 'XOM']

101

In [8]:
def data_to_one_file(ticker):
    years = 2
    months = 12
    data = pd.DataFrame()
    for year in range(1, years+1):
        for month in range(1, months+1):
            file_path = os.path.join(path_to_prices_raw, f"{ticker}_y{year}_m{month}.csv")
            if os.path.exists(file_path):
                df = pd.read_csv(file_path, index_col=0)
                data = pd.concat([data, df], axis=0)
    data.sort_index(inplace=True)
    return data

#### тесты

In [9]:
ticker = "IBM"
data = data_to_one_file(ticker)

data.head()

                           open        high         low       close  volume
time
2018-10-15 05:00:00  127.413221  127.413221  127.222496  127.222496    1083
2018-10-15 07:45:00  127.594864  127.603946  127.594864  127.603946     599
2018-10-15 08:00:00  127.603946  127.603946  127.603946  127.603946     150
2018-10-15 08:15:00  127.912738  127.912738  127.812835  127.812835     934
2018-10-15 08:30:00  128.094290  128.112545  128.012551  128.012551     515

In [10]:
data.shape

(20225, 5)

In [11]:
data.tail()

                       open    high     low   close  volume
time
2020-10-01 17:45:00  121.09  121.09  121.09  121.09     449
2020-10-01 18:15:00  121.14  121.14  121.14  121.14     100
2020-10-01 18:45:00  121.00  121.00  121.00  121.00     537
2020-10-01 19:45:00  121.10  121.10  121.09  121.10    1362
2020-10-01 20:00:00  121.10  121.10  121.10  121.10     300

In [12]:
data.to_csv(os.path.join(path_to_prices, f"{ticker}.csv"))

In [13]:
data_ = pd.read_csv(os.path.join(path_to_prices, f"{ticker}.csv"), index_col=0)
data_.head()

                           open        high         low       close  volume
time
2018-10-15 05:00:00  127.413221  127.413221  127.222496  127.222496    1083
2018-10-15 07:45:00  127.594864  127.603946  127.594864  127.603946     599
2018-10-15 08:00:00  127.603946  127.603946  127.603946  127.603946     150
2018-10-15 08:15:00  127.912738  127.912738  127.812835  127.812835     934
2018-10-15 08:30:00  128.094290  128.112545  128.012551  128.012551     515

#### формируем файлы по тикерам

In [16]:
end_num = None

In [17]:
%%time
for ticker in sp100_tickers[:end_num]:
    data = data_to_one_file(ticker)
    data.to_csv(os.path.join(path_to_prices, f"{ticker}.csv"))

Wall time: 42.8 s

#### формируем рабочий файл с котировками

In [19]:
%%time
data = pd.DataFrame()
for ticker in sp100_tickers[:end_num]:
    df = pd.read_csv(os.path.join(path_to_prices, f"{ticker}.csv"), index_col=0)
    df.rename({"close": ticker}, axis=1, inplace=True)
    data = pd.concat([data, pd.DataFrame(df[ticker])], axis=1, join='outer', sort=True)
data.head()

Wall time: 7.98 s

,AAPL,ABBV,ABT,ACN,ADBE,AIG,ALL,AMGN,AMT,AMZN,...,UNH,UNP,UPS,USB,V,VZ,WBA,WFC,WMT,XOM
2018-10-15 04:15:00,53.728530,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1776.49,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2018-10-15 04:30:00,53.550596,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1772.50,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2018-10-15 04:45:00,53.587158,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1772.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2018-10-15 05:00:00,53.453099,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2018-10-15 05:15:00,NaN,NaN,NaN,NaN,245.01,NaN,NaN,NaN,NaN,1773.37,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [20]:
data.shape

(31627, 101)

In [22]:
data.tail(100)

,AAPL,ABBV,ABT,ACN,ADBE,AIG,ALL,AMGN,AMT,AMZN,...,UNH,UNP,UPS,USB,V,VZ,WBA,WFC,WMT,XOM
2020-10-01 11:15:00,116.3923,87.7400,109.5400,226.5700,496.8500,27.5950,92.940,254.7100,243.4175,3185.3899,...,311.5950,195.9700,169.7000,35.8400,204.4400,59.3300,35.7800,23.3200,143.2001,33.2500
2020-10-01 11:30:00,116.6500,87.6425,109.5000,226.6700,498.3500,27.6550,93.310,255.2400,243.6800,3197.1891,...,311.7000,195.9700,169.3300,35.9400,205.0450,59.4700,35.8650,23.2800,142.9700,33.2750
2020-10-01 11:45:00,116.6728,87.4100,109.6000,226.5600,499.0300,27.6200,93.310,255.8900,243.7850,3200.9200,...,311.9400,195.6500,169.3700,35.8600,204.8300,59.4075,35.9600,23.2650,143.0650,33.2700
2020-10-01 12:00:00,116.3150,87.4100,109.7700,226.6100,497.8250,27.7250,93.480,256.4300,244.7600,3195.6623,...,312.4800,196.2100,169.8400,35.8100,204.1750,59.4000,35.8800,23.2550,142.9760,33.2850
2020-10-01 12:15:00,116.1200,87.2700,109.5800,226.1200,497.7971,27.6275,93.080,256.3950,243.9500,3193.3350,...,312.4400,195.7800,169.8100,35.8250,203.7350,59.4250,35.9050,23.2599,143.2700,33.2286
2020-10-01 12:30:00,116.2508,87.4650,109.5500,226.2900,497.2400,27.6450,93.290,256.7900,244.1000,3190.1600,...,312.9900,196.3000,170.7500,35.9300,204.0300,59.5700,35.9250,23.3400,143.9300,33.2150
2020-10-01 12:45:00,116.1799,87.6781,109.5700,226.2400,496.5100,27.7350,93.430,257.0424,243.8600,3190.0500,...,314.1000,196.8500,170.7100,35.9800,203.9000,59.5550,35.9950,23.4300,144.1400,33.2200
2020-10-01 13:00:00,116.3300,87.4600,109.5700,226.1750,497.0450,27.6650,93.290,256.5950,242.7850,3202.3000,...,313.3000,196.2800,170.3950,35.9611,203.9500,59.4550,35.9400,23.4200,143.8600,33.1416
2020-10-01 13:15:00,116.4400,87.5400,109.4600,226.0600,498.2700,27.6950,92.920,256.3350,243.3100,3203.3900,...,312.4700,195.5650,169.8897,36.0100,203.9900,59.4800,35.9602,23.4200,143.9398,33.1480
2020-10-01 13:30:00,116.3815,87.4100,109.2700,225.7300,498.5700,27.6900,93.110,256.0500,243.4343,3204.2900,...,312.8000,194.6000,169.0050,35.9200,203.5800,59.4600,35.8950,23.4000,143.3000,33.1600
2020-10-01 13:45:00,116.6636,87.3500,109.2300,225.9050,499.7299,27.6785,92.730,256.2500,242.9300,3207.4400,...,312.4400,194.1550,169.1850,36.0150,203.5640,59.4400,35.8950,23.4625,143.3200,33.2000
2020-10-01 14:00:00,116.4300,87.3300,108.8500,225.1000,498.9500,27.5600,92.480,256.1400,241.3250,3201.8400,...,312.1200,193.4450,168.2450,35.8400,202.9400,59.3800,35.8200,23.4200,143.0900,33.1150
2020-10-01 14:15:00,116.2001,87.2050,108.7050,224.4500,497.9800,27.4800,91.915,256.0550,241.1886,3197.1500,...,312.0400,192.6150,167.9550,35.6450,202.0800,59.2300,35.7250,23.2972,142.6650,33.0146
2020-10-01 14:30:00,116.4193,87.3000,108.8700,224.8700,498.5800,27.6250,92.035,256.0400,241.0050,3198.7500,...,312.6000,193.5500,167.9400,35.8700,202.4400,59.2946,35.8300,23.4050,143.1799,33.1566
2020-10-01 14:45:00,116.7350,87.3100,108.9400,224.9875,499.5000,27.6258,92.220,255.9500,241.8200,3203.7750,...,312.9000,194.5000,167.6300,35.9300,203.0900,59.3550,35.8700,23.4500,143.5700,33.1599
2020-10-01 15:00:00,116.7499,87.3570,108.9500,225.1350,500.4800,27.5750,92.160,255.7400,241.9300,3212.3880,...,313.1950,194.6300,167.5175,35.8600,203.1600,59.3650,35.8350,23.4700,143.5450,33.0350
2020-10-01 15:15:00,116.5504,87.2100,108.9750,224.8400,499.2300,27.5500,92.140,255.6100,241.8200,3215.8300,...,312.8900,194.6300,167.4050,35.8900,203.2700,59.3800,35.8300,23.4750,143.3101,33.0350
2020-10-01 15:30:00,116.3850,86.9350,108.7600,224.4300,498.0000,27.4300,91.960,254.8300,241.1500,3215.2400,...,312.0100,193.9300,166.9941,35.7700,202.5800,59.3150,35.7987,23.4250,143.1000,32.9764
2020-10-01 15:45:00,116.3669,86.8000,108.6050,224.3100,497.9300,27.4850,91.790,254.6700,242.0900,3217.1000,...,311.9800,193.7300,167.5400,35.7300,202.7400,59.3500,35.8300,23.4300,143.0000,32.9750
2020-10-01 16:00:00,116.8000,87.1500,108.6400,225.3500,499.5200,27.7200,92.260,255.5000,241.9800,3222.0100,...,313.0700,194.3000,167.6500,36.0000,203.3400,59.4700,35.8700,23.5600,143.0700,33.1300
2020-10-01 16:15:00,116.7800,87.1487,108.6509,225.2025,499.4600,27.7200,92.260,255.3645,242.1500,3221.0000,...,313.0387,194.2300,167.6500,36.0000,203.3297,59.4700,36.0900,23.5100,143.0657,33.1500
2020-10-01 16:30:00,116.7601,87.2000,NaN,225.1800,499.5100,NaN,NaN,NaN,242.1500,3219.0700,...,NaN,NaN,NaN,36.0000,203.3500,NaN,NaN,23.4603,143.1500,33.1200
2020-10-01 16:45:00,116.8200,87.3100,NaN,NaN,499.8500,NaN,NaN,NaN,NaN,3220.9000,...,313.0700,194.2300,NaN,36.0000,203.1700,NaN,35.8590,23.5199,143.0200,33.1400
2020-10-01 17:00:00,116.7700,87.2500,108.5800,NaN,500.2000,NaN,NaN,NaN,NaN,3219.2000,...,NaN,NaN,NaN,36.0000,NaN,NaN,NaN,23.4801,143.0000,33.1400
2020-10-01 17:15:00,116.7502,87.2998,NaN,NaN,500.8000,NaN,NaN,254.5000,NaN,3217.7700,...,NaN,NaN,NaN,NaN,NaN,NaN,35.8833,23.4600,143.1500,33.1900
2020-10-01 17:30:00,116.7000,NaN,NaN,NaN,500.0001,NaN,NaN,NaN,NaN,3210.0000,...,NaN,NaN,NaN,NaN,NaN,59.3800,NaN,NaN,143.0100,33.1900
2020-10-01 17:45:00,116.7000,87.3900,NaN,NaN,500.0000,NaN,NaN,255.5549,NaN,3212.2000,...,NaN,NaN,NaN,NaN,NaN,NaN,35.8500,23.5500,143.0100,33.1800
2020-10-01 18:00:00,116.8400,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3215.0000,...,NaN,NaN,167.8399,NaN,NaN,NaN,NaN,NaN,143.0200,33.1500
2020-10-01 18:15:00,116.7700,NaN,108.5100,NaN,NaN,NaN,NaN,NaN,NaN,3215.0000,...,NaN,NaN,167.6500,NaN,NaN,59.3600,NaN,23.5400,NaN,33.1400
2020-10-01 18:30:00,116.8400,NaN,108.8499,NaN,500.0000,NaN,NaN,NaN,NaN,3219.5000,...,NaN,NaN,NaN,NaN,203.8900,NaN,35.8500,23.4901,143.0000,33.1500
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020-10-02 12:45:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,314.6200,198.3900,168.1435,36.8500,202.6800,59.4200,35.9400,24.0100,140.8700,33.3200
2020-10-02 13:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,314.8350,197.6000,168.0300,36.8400,202.5000,59.4300,35.9000,23.9950,141.0260,33.2416
2020-10-02 13:15:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,316.1300,197.4503,167.6500,36.7564,202.4469,59.3400,35.7000,23.9350,140.9400,33.1430
2020-10-02 13:30:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,317.0800,197.7000,167.7950,36.7400,202.5150,59.4039,35.8700,23.9450,141.2951,33.1800
2020-10-02 13:45:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,315.8050,197.1700,167.4700,36.5150,201.8075,59.2250,35.6900,23.8400,140.7006,33.0050
2020-10-02 14:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,315.6500,197.2500,166.8850,36.5150,202.1400,59.2350,35.6400,23.8250,140.8500,33.0250
2020-10-02 14:15:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,316.2560,197.2200,166.9565,36.6969,202.4300,59.3400,35.7750,23.9000,141.0200,33.1650
2020-10-02 14:30:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,316.6000,197.2200,166.8000,36.8000,202.1600,59.3850,35.7900,23.9500,141.0999,33.0817
2020-10-02 14:45:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,315.6700,197.4550,166.4850,36.9150,202.0550,59.4450,35.7700,24.0350,140.9300,33.1200
2020-10-02 15:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,315.0500,197.6900,166.4800,36.8400,201.9800,59.4150,35.8150,23.9750,140.8600,33.0877
2020-10-02 15:15:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,313.8650,196.5850,166.7900,36.7400,201.7000,59.3550,35.7800,23.9400,140.5700,33.0000
2020-10-02 15:30:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,313.9900,196.9800,167.1050,36.9250,201.8900,59.4200,35.8000,24.0400,140.6401,33.1250
2020-10-02 15:45:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,313.0400,197.0500,167.4600,36.7600,201.9200,59.3800,35.7850,23.9800,140.8450,33.0050
2020-10-02 16:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,311.9300,196.4900,166.8900,36.7700,201.4600,59.2500,35.7700,23.9900,140.5000,32.9700
2020-10-02 16:15:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,312.0112,196.4500,166.9600,36.7700,201.1400,59.2400,35.7700,23.9876,140.3500,33.0000
2020-10-02 16:30:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,312.0000,NaN,NaN,36.9000,201.4600,59.2300,35.7500,23.9900,140.5000,33.0300
2020-10-02 16:45:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,312.0100,NaN,167.1500,36.7700,201.4700,59.3400,35.7700,23.9800,140.4000,33.0000
2020-10-02 17:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,311.9100,NaN,NaN,36.8000,NaN,59.2500,NaN,24.0500,140.5500,33.0299
2020-10-02 17:15:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,36.9600,202.3000,59.2500,35.7500,24.0500,140.7900,33.0200
2020-10-02 17:30:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,166.8300,NaN,201.5300,59.2498,35.7800,23.9400,140.0000,32.8800
2020-10-02 17:45:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,59.2400,NaN,23.8300,139.9900,32.8800
2020-10-02 18:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,311.5600,196.5000,NaN,36.0900,200.2100,59.1800,NaN,23.8500,139.9500,32.9900
2020-10-02 18:15:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,195.5000,NaN,36.4800,NaN,59.1800,NaN,23.8500,139.6900,32.9500
2020-10-02 18:30:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,59.2399,35.6000,23.8100,139.6000,32.9000
2020-10-02 18:45:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,200.5000,59.2000,NaN,23.9100,139.9500,32.9500
2020-10-02 19:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,166.0000,NaN,200.5000,59.1600,NaN,23.9100,139.4300,32.9000
2020-10-02 19:15:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,200.7400,NaN,NaN,23.8800,139.5000,32.8500
2020-10-02 19:30:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,36.7600,NaN,NaN,NaN,23.8700,139.5700,32.8600
2020-10-02 19:45:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,59.1700,NaN,23.9100,139.8800,32.8500
2020-10-02 20:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,166.4000,NaN,NaN,59.1600,NaN,23.9600,139.9200,32.8100

In [24]:
data.loc[:"2020-10-01 17:00:00"].tail()

,AAPL,ABBV,ABT,ACN,ADBE,AIG,ALL,AMGN,AMT,AMZN,...,UNH,UNP,UPS,USB,V,VZ,WBA,WFC,WMT,XOM
2020-10-01 16:00:00,116.8000,87.1500,108.6400,225.3500,499.52,27.72,92.26,255.5000,241.98,3222.01,...,313.0700,194.30,167.65,36.0,203.3400,59.47,35.870,23.5600,143.0700,33.13
2020-10-01 16:15:00,116.7800,87.1487,108.6509,225.2025,499.46,27.72,92.26,255.3645,242.15,3221.00,...,313.0387,194.23,167.65,36.0,203.3297,59.47,36.090,23.5100,143.0657,33.15
2020-10-01 16:30:00,116.7601,87.2000,NaN,225.1800,499.51,NaN,NaN,NaN,242.15,3219.07,...,NaN,NaN,NaN,36.0,203.3500,NaN,NaN,23.4603,143.1500,33.12
2020-10-01 16:45:00,116.8200,87.3100,NaN,NaN,499.85,NaN,NaN,NaN,NaN,3220.90,...,313.0700,194.23,NaN,36.0,203.1700,NaN,35.859,23.5199,143.0200,33.14
2020-10-01 17:00:00,116.7700,87.2500,108.5800,NaN,500.20,NaN,NaN,NaN,NaN,3219.20,...,NaN,NaN,NaN,36.0,NaN,NaN,NaN,23.4801,143.0000,33.14

подчистим немного данные

In [25]:
data_ = data.loc[:"2020-10-01 17:00:00"].copy()

Видим, что у части акций нет дальних котировок (по-видимому, они начали торговаться позже). Заменим пропуски предыдущими  котировками (с этим тоже можно поработать, но пока так).

In [26]:
data_filled = data_.fillna(method='ffill')
data_filled.head()

,AAPL,ABBV,ABT,ACN,ADBE,AIG,ALL,AMGN,AMT,AMZN,...,UNH,UNP,UPS,USB,V,VZ,WBA,WFC,WMT,XOM
2018-10-15 04:15:00,53.728530,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1776.49,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2018-10-15 04:30:00,53.550596,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1772.50,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2018-10-15 04:45:00,53.587158,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1772.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2018-10-15 05:00:00,53.453099,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1772.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2018-10-15 05:15:00,53.453099,NaN,NaN,NaN,245.01,NaN,NaN,NaN,NaN,1773.37,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [27]:
data_filled.tail()

,AAPL,ABBV,ABT,ACN,ADBE,AIG,ALL,AMGN,AMT,AMZN,...,UNH,UNP,UPS,USB,V,VZ,WBA,WFC,WMT,XOM
2020-10-01 16:00:00,116.8000,87.1500,108.6400,225.3500,499.52,27.72,92.26,255.5000,241.98,3222.01,...,313.0700,194.30,167.65,36.0,203.3400,59.47,35.870,23.5600,143.0700,33.13
2020-10-01 16:15:00,116.7800,87.1487,108.6509,225.2025,499.46,27.72,92.26,255.3645,242.15,3221.00,...,313.0387,194.23,167.65,36.0,203.3297,59.47,36.090,23.5100,143.0657,33.15
2020-10-01 16:30:00,116.7601,87.2000,108.6509,225.1800,499.51,27.72,92.26,255.3645,242.15,3219.07,...,313.0387,194.23,167.65,36.0,203.3500,59.47,36.090,23.4603,143.1500,33.12
2020-10-01 16:45:00,116.8200,87.3100,108.6509,225.1800,499.85,27.72,92.26,255.3645,242.15,3220.90,...,313.0700,194.23,167.65,36.0,203.1700,59.47,35.859,23.5199,143.0200,33.14
2020-10-01 17:00:00,116.7700,87.2500,108.5800,225.1800,500.20,27.72,92.26,255.3645,242.15,3219.20,...,313.0700,194.23,167.65,36.0,203.1700,59.47,35.859,23.4801,143.0000,33.14

In [28]:
data_filled.shape

(31551, 101)

In [29]:
data_filled.dropna().shape

(8032, 101)

чтобы не терять данные, сделаем такое заполнение пропусков

In [31]:
data_filled = data_filled.fillna(method='backfill')
data_filled.dropna().shape

(31551, 101)

Сохраним этот файл и будем дальше работать уже с ним

In [32]:
filename = "sp100_15min.csv"
data_filled.dropna().to_csv(os.path.join(path_to_data, filename))

#### тестим сохранение-загрузку

In [33]:
data_loaded = pd.read_csv(os.path.join(path_to_data, filename), index_col=0)
data_loaded.head()

,AAPL,ABBV,ABT,ACN,ADBE,AIG,ALL,AMGN,AMT,AMZN,...,UNH,UNP,UPS,USB,V,VZ,WBA,WFC,WMT,XOM
2018-10-15 04:15:00,53.728530,82.335268,67.871121,153.710081,245.01,46.671585,89.674787,186.465966,136.580973,1776.49,...,254.662905,145.711303,108.035108,47.173193,136.250155,49.771425,69.860241,49.019968,90.07355,72.569641
2018-10-15 04:30:00,53.550596,82.335268,67.871121,153.710081,245.01,46.671585,89.674787,186.465966,136.580973,1772.50,...,254.662905,145.711303,108.035108,47.173193,136.250155,49.771425,69.860241,49.019968,90.07355,72.569641
2018-10-15 04:45:00,53.587158,82.335268,67.871121,153.710081,245.01,46.671585,89.674787,186.465966,136.580973,1772.00,...,254.662905,145.711303,108.035108,47.173193,136.250155,49.771425,69.860241,49.019968,90.07355,72.569641
2018-10-15 05:00:00,53.453099,82.335268,67.871121,153.710081,245.01,46.671585,89.674787,186.465966,136.580973,1772.00,...,254.662905,145.711303,108.035108,47.173193,136.250155,49.771425,69.860241,49.019968,90.07355,72.569641
2018-10-15 05:15:00,53.453099,82.335268,67.871121,153.710081,245.01,46.671585,89.674787,186.465966,136.580973,1773.37,...,254.662905,145.711303,108.035108,47.173193,136.250155,49.771425,69.860241,49.019968,90.07355,72.569641

In [34]:
data_loaded.shape

(31551, 101)

In [35]:
data_loaded.tail()

,AAPL,ABBV,ABT,ACN,ADBE,AIG,ALL,AMGN,AMT,AMZN,...,UNH,UNP,UPS,USB,V,VZ,WBA,WFC,WMT,XOM
2020-10-01 16:00:00,116.8000,87.1500,108.6400,225.3500,499.52,27.72,92.26,255.5000,241.98,3222.01,...,313.0700,194.30,167.65,36.0,203.3400,59.47,35.870,23.5600,143.0700,33.13
2020-10-01 16:15:00,116.7800,87.1487,108.6509,225.2025,499.46,27.72,92.26,255.3645,242.15,3221.00,...,313.0387,194.23,167.65,36.0,203.3297,59.47,36.090,23.5100,143.0657,33.15
2020-10-01 16:30:00,116.7601,87.2000,108.6509,225.1800,499.51,27.72,92.26,255.3645,242.15,3219.07,...,313.0387,194.23,167.65,36.0,203.3500,59.47,36.090,23.4603,143.1500,33.12
2020-10-01 16:45:00,116.8200,87.3100,108.6509,225.1800,499.85,27.72,92.26,255.3645,242.15,3220.90,...,313.0700,194.23,167.65,36.0,203.1700,59.47,35.859,23.5199,143.0200,33.14
2020-10-01 17:00:00,116.7700,87.2500,108.5800,225.1800,500.20,27.72,92.26,255.3645,242.15,3219.20,...,313.0700,194.23,167.65,36.0,203.1700,59.47,35.859,23.4801,143.0000,33.14

In [36]:
data_loaded.shape

(31551, 101)